h2 {
    font-size: 3.0rem;
}

a, a:visited, a:hover {
    color: #292929;
}

a:hover, a.navlogolink, a.navlogolink:visited {
    opacity: 1.0;
}

a.button {
    opacity: 1.0;
}

button {
    height: 28px;
    line-height: 28px;
}

button.link {
    letter-spacing: unset;
    text-transform: unset;
}

.navbar a, .navbar a:visited, .navbar a:hover {
    color: #888888;
}

.common-text-input, #keyword {
    height: 32px;
    line-height: 32px;
    min-height: 32px;
    font-family: "Open Sans","Helvetica Neue",Arial,Helvetica,Verdana,sans-serif;
    font-size: 15px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-shadow: none;
    padding-left: 10px;
}

#email_input {
    height: 32px;
    line-height: 32px;
    min-height: 32px;
}

#keyword {
    height: 24px;
    line-height: 24px;
    min-height: 24px;
    min-width: 130px;
}

.navother {
    z-index: 98;
    width: 100%;
    position: fixed;
    top: 93px;
    padding-top: 15px;
    padding-bottom: 0px;
    left: 0;

    background-color: #fcf9f9;
}

.searchbox {
    padding-right: 60px;
}

#search {
    margin-bottom: 0px;
}

#remarkbox-menu {
    padding-left: 60px;
    padding-top: 5px;
}

#reply {
  margin-top: 25px;
}

.my-namespaces-div {
  background-color: #fcf9f9;
  padding: 20px;
  padding-bottom: 10px;
  padding-top: 30px;
}

ol, ul {
    padding-left: 40px;
}

ul {
    list-style: outside;
}

/* alerts */
#alerts {
  width: 100%;
  position: fixed;
  top: 150px;
  z-index: 100;
  text-align: center;
}

.close {
  margin-right: 10px;
  float: right;
}

.alert {
  text-align: center;
  color: #ffffff; 
  margin-bottom: 6px;
  padding: 6px;

  /** not sure **/
  border: 1px;
  border-left: 0px;
  border-right: 0px;
  border-style: solid;
}

.alert-danger, .alert-error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.alert-info, .alert-notice {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.navlogotiny {
  vertical-align: middle;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
}

.small-button,
input.small-button {
  height: 28px;
  line-height: 28px;
  padding-left: 15px;
  padding-right: 15px;
}

form.inline {
  display: inline;
}

input.rb-submit.search {
  height: 28px;
  line-height: 28px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 10px;
}

div.container.main {
  margin-top: 180px;
}

pre, .MathJax_Display {
  background-color: #fcf9f9;
  padding: 15px;
  border-radius: 8px;
}

.MathJax_Display {
  width: unset !important;
}

.preview-raw-markdown {
  line-height: 1.3;
  padding-bottom: 9px;
}

@media screen and (max-width:750px) {
  .navother {
    top: 0px;
  }
  .searchbox {
    padding-right: 30px;
  }
  #keyword {
    margin-left 10px;
    margin-right: 10px;
  }
  #remarkbox-menu {
    padding-left: 30px;
  }
  div.container.main {
    margin-top: 80px;
  }
}

@media screen and (max-width:568px) {
  div.container.main {
    margin-top: 120px;
  }
}

