:root {
  --black: 0, 0, 0;
  --white: 255, 255, 255;
  --red: 170, 0 , 0;
  --red-light: 212, 0 , 0;
  --red-dark: 128, 0 , 0;
  --red-darker: 96, 0 , 0;
  --blue: 0, 170, 170;
  --green: 0, 170, 85;
}

h1, h2, h3, h4, h5, h6 {
    padding-top: 2rem;
    font-weight: 500;
}

a, a:link, a:visited,
button.link {
  text-decoration: none;
  color: rgb(var(--red-darker));
}

a:hover,
button.link:hover {
  color: rgb(var(--red));
}

a.anchor {
  display: block;
  position: relative;
  top: -150px;
  visibility: hidden;
}

.navbar a {
    color: #888888;
} 

.nav a {
    color: #888888;
}

.remarkbox-menu a,
.remarkbox-menu a:link,
.remarkbox-menu a:visited, 
#remarkbox-footer a,
#remarkbox-footer a:link,
#remarkbox-footer a:visited {
    color: #292929;
}

body {
    background-color: #f8f5f5;
    overflow-x: hidden;
    font-family: "Open Sans", sans-serif;
    font-size: 1.8em;
    line-height: 1.8;
    font-weight: 400;
}

blockquote {
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
    padding-left: 15px;
    border-left: 4px solid rgb(var(--red));
}

li {
    padding-left: 20px;
    text-indent: -20px;
}

.pricebox {
    text-align: center;
    background-color: #ffffff;
    padding-top: 30px;
    padding-bottom: 30px;
}

.deal {
    padding-top: 50px;
    padding-bottom: 50px;
}

.graybg {
    /*background-color: #f8f5f5;*/
    background-color: #ffffff;
}

.reasons {
    /*background-color: #f8f5f5;*/
    background-color: #ffffff;
}


.nav, .navbar {
    font-weight: bold;
    width: 100%;
    background-color: #ffffff;
    border-top: solid 4px rgb(var(--red));
}

.nav {
    padding-top: 15px;
    padding-bottom: 10px;
    /*border-bottom: 1px solid #eee;*/
}

.navbar {
    display: none;
    position: fixed;
    top: 0;
    left: 0;

    z-index: 99;
}

.redline {
    border-top: solid 4px rgb(var(--red));
}

.has-docked-nav .navbar {
    display: block;
    padding-top: 10px;
    padding-bottom: 4px;
    border-bottom: 1px solid #eee;
}

.navlinks {
    float: right;
    padding-right: 20px;
    padding-top: 10px;
}

.navlink {
   padding-right: 20px;
}

.navlogo {
    width: 280px;
    /*vertical-align: middle;*/
    padding-right: 0px;
    padding-left: 40px;
}

.herologo {
   width: 100%;
   max-width: 600px;
   min-width: 300px;
   padding-top: 40px;
   padding-bottom: 60px;
}

.row-padding {
    padding-top: 60px;
    padding-bottom: 60px;
}

span.avoidwrap { 
    display:inline-block;
}

select {
  padding-top: 6px;
  padding-bottom: 0px;
  padding-left: 6px;
  padding-right: 6px;
  height: 28px;
}

.container {
    max-width: 860px;
}


input, textarea, select, fieldset {
  margin-bottom: 0px;
}

/* I made a fiddle that could help with buttons and colors */
/* https://jsfiddle.net/7nL0sfy0/ */

.button, a.button, a.button:link, a.button:visited {
  color: #333;
  border-color: #888;
}

.button-small,
input.button-small {
  height: 28px;
  line-height: 28px;
  padding-left: 15px;
  padding-right: 15px;
}

.green-button {
    background-color: rgba(var(--green), .8);
    border-color: rgba(var(--green), .8) !important;
    color: #FFFFFF !important;
}

.red-button {
    background-color: rgba(var(--red), .8);
    border-color: rgba(var(--red), .8) !important;
    color: #FFFFFF !important;
}

.blue-button {
    background-color: rgba(var(--blue), .8);
    border-color: rgba(var(--blue), .8) !important;
    color: #FFFFFF !important;
}

.button-white {
  background-color: rgba(var(--white), .60);
  border-color: rgba(var(--black), .30) !important;
  color: rgba(var(--black), .50) !important;
  border-width: 1px;
}

.button-white:hover {
  background-color: rgba(var(--white), 1.0);
  border-color: rgba(var(--black), 0.6) !important;
  color: rgba(var(--black), 0.8) !important;
}

#payment-form,
.payment-card {
    background-color: rgba(var(--white), .5);
    padding: 10px 12px;
    border-radius: 4px;
  
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

/* mail chimp and red buttons */

#mc_embed_signup {
    clear:left; font:14px Helvetica,Arial,sans-serif;
}
#mc_embed_signup .button, .red {
    background-color: #AA0000;
    border-color: #AA0000 !important;
    color: #FFFFFF !important;
}
#mc_embed_signup .button:hover, .red:hover {
    background-color: #D40000;
    border-color: #DA0000;
    color: #FFFFFF !important;
}

/* media viewports */

.shown-on-phone {
  display: none;
}

.shown-on-tablet {
  display: none;
}

@media screen and (max-width:568px) {
  .hidden-on-phone {display: none;}
  .shown-on-phone {display: block;}
  button,
  input[type="submit"],
  input[type="button"],
  .button,
  .button-small {
    font-size: .90rem; padding: .90rem; height: 10px; line-height: 3px;
  }
  .remarkbox-menu {
    padding-top: 8px;
  }
}  

@media screen and (max-width:750px) {
  .navbar.hidden-on-tablet {display: none} 
  .hidden-on-tablet {display: none} 
  .shown-on-tablet  {display: block} 
}  

/* burger phone menu */

.burger-label {
  background-color: rgb(var(--red));
  transition: .5s;
}
.burger-label:hover {
  background-color: rgb(var(--red-light));
  transition: .5s;
}
.burger-label span {
  background-color: rgb(var(--white));
}
