{%- import 'snippets/snippets.j2' as snippets with context -%}
{% include 'snippets/owner-key-comment.j2' %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}{{ request.app_domain }}{% endblock %}</title>
  <meta charset="utf-8" />

  <!-- this makes mobile pretty...  -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#D40000">

{% include 'snippets/stylesheet-includes.j2' %}

{% include 'snippets/javascript-includes.j2' %}

</head>

<body class="remarkbox-body has-docked-nav">

<noscript>
  <style>
    .js-only {display: none;}
  </style>
</noscript>

<style>
:root {
  --black: 0, 0, 0;
  --white: 255, 255, 255;
  --red: 170, 0 , 0;
  --red-light: 212, 0 , 0;
  --red-dark: 128, 0 , 0;
  --red-darker: 96, 0 , 0;
  --blue: 0, 170, 170;
  --green: 0, 170, 85;
}
body {
  background-color: #f8f5f5;
  overflow-x: hidden;
  font-size: 1.0em;
  line-height: 1.6;
  font-weight: 400;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    font-weight: 300;
}
h1 {font-size: 3.00rem;}
h2 {font-size: 2.50rem;}
h3 {font-size: 2.00rem;}
h4 {font-size: 1.75rem;}
h5 {font-size: 1.50rem;}
h6 {font-size: 1.25rem;}
.funnel {
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  max-width: 340px;
}

section.step-1, section.step-2, section.step-3, section.step-4 {
  background-color: white;
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
  text-align: center;
}
section.step-4 {
  text-align: left;
}
button.green-button, button.red-button, input.red-button {
  background-color: rgba(var(--red), .8);
  border-color: rgba(var(--red), .8);
  color: #FFFFFF !important;
  padding: 8px;
  text-align: center;
  border-radius: 4px;
  font-weight: 600;
  text-transform: uppercase;
}
button.green-button {
  background-color: rgba(var(--green), .8);
  border-color: rgba(var(--green), .8);
}
#alerts {
  position: relative;
  top: 0px;
}

input#namespace-domain {
  margin-bottom: 10px;
  text-align: center;
}
</style>

  {% include 'snippets/flash-alerts.j2' %}

<div class="funnel" role="main">


  <center>
  <a href="{{ request.marketing_url }}" style="opacity: 1.0;"><img src="/static/theme/meta/img/remarkbox-minified.png" alt="Remarkbox Logo" style="width: 100%; margin-bottom: 30px;"/></a>
  </center>

  <div class="content">
  {% block content %}
  {% endblock %}
  </div>

</div>

</body>
</html>
