{%- import 'snippets/snippets.j2' as snippets with context -%}
{% include 'snippets/owner-key-comment.j2' %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}{{ request.app_domain }}{% endblock %}</title>
  <meta charset="utf-8" />

  <!-- this makes mobile pretty...  -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#D40000">

{% include 'snippets/stylesheet-includes.j2' %}

{% include 'snippets/javascript-includes.j2' %}

</head>

<body class="remarkbox-body has-docked-nav">

<noscript>
  <style>
    .js-only {display: none;}
  </style>
</noscript>

<style>
:root {
  --black: 0, 0, 0;
  --white: 255, 255, 255;
  --red: 170, 0 , 0;
  --red-light: 212, 0 , 0;
  --red-dark: 128, 0 , 0;
  --red-darker: 96, 0 , 0;
  --blue: 0, 170, 170;
  --green: 0, 170, 85;
}
body {
  background-color: #f8f5f5;
}
button.green-button, button.red-button, input.red-button {
  background-color: rgba(var(--red), .8);
  border-color: rgba(var(--red), .8);
  color: #FFFFFF !important;
  padding: 8px;
  text-align: center;
  border-radius: 4px;
  font-weight: 600;
  text-transform: uppercase;
}
button.green-button {
  background-color: rgba(var(--green), .8);
  border-color: rgba(var(--green), .8);
}
#alerts {
  position: relative;
  top: 0px;
}
input#email_input {
  margin-bottom: 10px;
  text-align: center;
}

</style>

  {% include 'snippets/flash-alerts.j2' %}

<div class="funnel" role="main">


  <center>
  <a href="{{ request.app_url }}" style="opacity: 1.0;"><img src="/static/theme/meta/img/remarkbox-minified.png" alt="Remarkbox Logo" style="width: 100%; margin-bottom: 30px;"/></a>
  </center>

  <div class="content">
  {% block content %}
  {% endblock %}
  </div>

</div>

</body>
</html>
