{%- import 'snippets/snippets.j2' as snippets with context -%}
{% include 'snippets/owner-key-comment.j2' %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}{{ request.app_domain }}{% endblock %}</title>
  <meta charset="utf-8" />
 
  <!-- this makes mobile pretty...  -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#D40000">

{% include 'snippets/stylesheet-includes.j2' %}
  <link rel="stylesheet" href="/static/theme/meta/css/normalize.css">
  <link rel="stylesheet" href="/static/theme/meta/css/skeleton.css">
  <link rel="stylesheet" href="/static/theme/meta/css/meta.css">
  <link rel="stylesheet" href="/static/theme/meta/css/diff.css">

{% include 'snippets/javascript-includes.j2' %}
  
</head>

<body class="remarkbox-body has-docked-nav">

<noscript>
  <style>
    .js-only {display: none;}
  </style>
</noscript>

{% if request.mode != 'embed' %}
<div class="navbar hidden-on-tablet">
    <a href="{{ request.app_url }}" class="navlogolink"><img src="/static/theme/meta/img/remarkbox-minified.png" class="navlogo" alt="Remarkbox Logo" /></a>
    
    <div class="navlinks">
      <a class="navlink" href="{{ request.marketing_url }}">Home</a>
      <a class="navlink" href="https://faq.remarkbox.com">Faq</a>
      <a class="navlink" href="https://meta.remarkbox.com">Meta</a>
      {%- if request.user %}
      {{ snippets.user_avatar_link(request.user, 40, class="avatar-nav") }}

      <a class="button red" href="{{ request.app_url }}/setup">setup</a>
      {%- else %}
      <a class="navlink" href="{{ request.marketing_url }}#about">About</a>
      <a class="navlink" href="{{ request.marketing_url }}#remarkbox-demo">Demo</a>
      <a class="navlink" href="{{ request.marketing_url }}#plans">Plans</a>
      <a class="button" href="{{ request.app_url }}/join-or-log-in?return-to={{ request.path_url }}">Log in</a>
      <a class="button red" href="{{ request.app_url }}/setup">setup</a>
      {%- endif %}
    </div>
</div>
{% endif %}

{% if not request.saas_home %}

<nav class="remarkbox-menu">

  <div class="home">

    <span class="avoidwrap">
    <a href="{{ request.marketing_url }}" class="navlogolink"><img src="/static/img/remarkbox-logo.png" width="16px" class="shown-on-tablet navlogotiny"></a>
    &nbsp;
    </span>

    {{ snippets.namespace_home_uri(request.namespace) }} &nbsp; 

    {%- if request.user.authenticated and request.user.namespaces %}

    <a href="{{ request.app_url }}/u/namespaces" onclick="toggle('my-namespaces-div', 'my-namespaces-link', '(switch)', '(switch)'); return false;" id="my-namespaces-link">(switch)</a>

    <div id="my-namespaces-div" class="my-namespaces-div">

    {% for namespace in request.user.namespaces %}
      {% if namespace != request.namespace %}
      {{ snippets.namespace_home_uri(namespace) }}
      <br/>
      {% endif %}
    {% endfor %}

      <br/>
      <center>
      <a href="{{ request.app_url }}/setup" class="button">setup</a>
      </center>
    </div>
    &nbsp;
    {%- endif %}

  </div> <!-- end home -->

  <div class="search">
  {% if request.mode != 'embed' %}
    {% include 'snippets/search.j2' %}
  {% endif %}
  </div>

</nav>

{% endif %}

{% include 'snippets/flash-alerts.j2' %}

{% if request.mode != 'embed' %}

{% else %}
<style>.navother {top: 0px;}</style>
{%- endif %}

<div class="container main" style="max-width: 960px">

  <div class="row">

<div class="main">

  <div class="call_to_action">
  {% block call_to_action %}
  {% endblock %}
  </div>

{% block content %}
{% endblock %}
</div>

{% if request.mode != 'embed' %}
{% include 'snippets/phone-menu.j2' %}
{% endif %}

<div id="remarkbox-footer">
  <br />
  <br />
  <center>
  {% include 'snippets/powered-by.j2' %}
  <center>
</div>

  <!-- end of row -->
  </div>
<!-- end of container -->
</div>

</body>
</html>
