{%- import 'snippets/snippets.j2' as snippets with context -%}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}{{ request.domain }}{% endblock %}</title>
  <meta charset="utf-8" />
 
  <!-- this makes mobile pretty...  -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#D40000">

  {% include 'snippets/stylesheet-includes.j2' %}

  <link rel="stylesheet" href="/static/theme/meta/css/normalize.css">
  <link rel="stylesheet" href="/static/theme/meta/css/skeleton.css">
  <link rel="stylesheet" href="/static/theme/meta/css/meta.css">
  <link rel="stylesheet" href="/static/theme/meta/css/diff.css">

  {% include 'snippets/javascript-includes.j2' %}
  
</head>

<body class="remarkbox-body has-docked-nav">

{% set main_domain = "https://www.remarkbox.com" %}

<noscript>
  <style>
    .js-only {display: none;}
  </style>
</noscript>

{% if request.mode != 'embed' %}
<div class="navbar hidden-on-tablet">
    <a href="{{ main_domain }}" class="navlogolink"><img src="/static/theme/meta/img/remarkbox-minified.png" class="navlogo" alt="Remarkbox Logo" /></a>
    
    <div class="navlinks">
      <a class="navlink" href="https://faq.remarkbox.com">Faq</a>
      <a class="navlink" href="https://meta.remarkbox.com">Meta</a>
      {%- if request.user %}
      {{ snippets.user_link(request.user, class='button') }}
      <a class="button red" href="/u/namespaces">Setup</a>
      {%- else %}
      <a class="navlink" href="{{ main_domain }}#about">About</a>
      <a class="navlink" href="{{ main_domain }}#remarkbox-demo">Demo</a>
      <a class="navlink" href="{{ main_domain }}#plans">Plans</a>
      <a class="button" href="/join-or-log-in">Log in</a>
      <a class="button red" href="/join-or-log-in">Join</a>
      {%- endif %}
    </div>
</div>
{% endif %}

<div class="navother">
    {% if request.mode != 'embed' %}
    <div class="searchbox">
      {% include 'snippets/search.j2' %}
    </div>
    {% endif %}
    
    <div id="remarkbox-menu">
    <span class="avoidwrap">
    <a href="{{ main_domain }}" class="navlogolink"><img src="/static/img/remarkbox-logo.png" width="16px" class="shown-on-tablet navlogotiny"></a>
    {%- block menu %}
    &nbsp;
    </span>

  {%- if request.user.authenticated %}
  <a href="/u/namespaces" onclick="toggle('my-namespaces-div', 'my-namespaces-link', '&#9658 {{ request.namespace.name }}', '&#9662; &nbsp; {{ request.namespace.name }}'); return false;" id="my-namespaces-link"><span class="js-only">&#9658; </span>{{ request.namespace.name }}</a>

  <div id="my-namespaces-div" class="my-namespaces-div">

  {% if request.namespace.name == request.domain %}
  <a href="/">{{ request.namespace.name }}</a>
  {% else %}
  <a href="/ns/{{ request.namespace.name }}">{{ request.namespace.name }}</a>
  {% endif %}
  <br/>
  {% for namespace in request.user.namespaces %}
    {% if namespace.name != request.namespace.name %}
    <a href="/ns/{{ namespace.name }}">{{ namespace.name }}</a>
    <br/>
    {% endif %}
  {% endfor %}

    <br/>
    <center>
    <a href="/u/namespaces" class="button small-button">+ New Namespace</a>
    </center>
  </div>
  &nbsp;
  | 
  &nbsp;

  <span class="avoidwrap">
  {{ snippets.user_link(request.user) }} <a href="/log-out">[log out]</a>
  </span>

  {% else %}

  <a href="/join-or-log-in">join-or-log-in</a>

  {%- endif %}
{%- endblock %}

    </div>
</div>

{% if request.mode != 'embed' %}

{% else %}
<style>.navother {top: 0px;}</style>
{%- endif %}

<div class="container main" style="max-width: 960px">

  <div class="row">

<div id="alerts">
{%- for message, level in request.session.pop_flash() %}
<div class="alert alert-{{level}}" onclick="this.style.display='none'" name="alert">
    <label class="close js-only" alt="dismiss" title="Mark as read">X</label>
    {{message}}
</div>
{%- endfor %}
</div>

<div class="main">
{% block content %}
{% endblock %}
</div>

<div id="remarkbox-footer">
  <br />
  <br />
  <center>
  {% include 'snippets/powered-by.j2' %}
  <center>
</div>

  <!-- end of row -->
  </div>
<!-- end of container -->
</div>

</body>
</html>
